.container-pass-criteria {
    list-style: none;
    border: var(--border-standard);
}

.container-pass-criteria__title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--main-800);
}