.aside-menu {
    height: 100vh;
    background-color: var(--gray-800);
    position: fixed;
    inset: 0;
    z-index: 3;
    width: 100px;
    padding: 2rem;
    box-shadow: 8px 1px 11px -1px rgba(0, 0, 0, 0.2);


    .aside-menu__user-actions {
        flex-direction: column;
    }

    .page-title,
    span,
    form {
        display: none;
    }

    .button {
        padding: 1.5rem 0;
    }

    .button svg {
        margin: 0 auto;
    }
}

.aside-menu.active {
    width: 42.4rem;


    .aside-menu__user-actions {
        flex-direction: row;
    }

    span,
    .page-title {
        display: block;
    }

    form {
        display: flex;
    }

    .button.toggle {
        position: absolute;
        right: -5%;
        z-index: 3;
        width: fit-content;
        padding: 1.5rem;
    }

    .button {
        padding: 1.5rem 3rem;
    }

    .button svg {
        margin: 0;
    }
}


.financial-summary {}

.financial-summary__sum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--b-radius);
    padding: 2rem;
    background-color: var(--gray-800);
}

.financial-summary__sum img {
    width: 6rem;
    height: 6rem;
    box-sizing: content-box;
    padding: 1rem;
    border-radius: var(--b-radius);
}

.financial-summary__sum-value {}

.financial-summary__sum-value {}