button {
    all: unset;
}

.button {
    all: unset;
    background: var(--bg-gradient);
    padding: 1.5rem 3rem;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--b-radius);
    transition: all 1s;
    gap: .6rem;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
}

.button:hover {
    box-shadow: 1px 0 50px 0.5rem rgba(0, 0, 0, 0.226);
}

.button:disabled {
    background: var(--gray-500);
    cursor: not-allowed;
}

.button img,
.button svg {
    width: 2rem !important;
    display: block;
    flex-shrink: 0;
}

.button.bg-gradient-red {
    background: linear-gradient(90deg, var(--red-1000) 0%, var(--red-900) 100%) !important;
}

.button.menu {
    background: var(--gray-700);
    justify-content: start;
    width: 100%;
    gap: 2rem;
}

.aside-menu[data-view-aside="false"] .button.menu:hover::after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background-color: var(--gray-700);
    white-space: nowrap;
    padding: 1rem;
    margin-left: 0.5rem;
    border-radius: var(--b-radius);
    border: var(--border-standard);
}

@keyframes pulseGlow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0px var(--main-800);
    }

    50% {
        transform: scale(1.026);
        box-shadow: 0 0 15px var(--main-800);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0px var(--main-800);
    }
}


.button.pulse {
    animation: pulseGlow 2.6s infinite ease-in-out;
}