.form {
    background-color: var(--gray-800);
    border-radius: var(--b-radius);
    width: 600px;
    outline: 0;
    margin: 1.8rem auto !important;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 26px -7px var(--gray-900);
}

.label {
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.item-form {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .6rem;
}

.header-form {
    width: 100%;
    min-height: 10.4rem;
    background: var(--bg-gradient-2);
    gap: .5rem;
    position: relative;
    // border-radius: var(--b-radius);
}

.form-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--white);
}

.form-subtitle {
    font-weight: 400;
    color: var(--gray-500);
    font-size: 1.9rem;
    text-align: center;
}

.form-icon {
    box-sizing: content-box;
    width: 3.6rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.223);
    border-radius: 50%;
}

.footer-form {
    padding: 4rem 0;
    border-top: var(--border-standard);
}

.footer-form__title {
    color: var(--gray-500);
    font-size: 1.6rem;
}

.form-icon__close img {
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.223);
    border-radius: 50%;
    padding: 1rem;
    box-sizing: content-box;
}

.double-form {
    width: 124rem;
    height: 84rem;
    overflow: hidden;
    box-shadow: 0px 0px 26px -7px var(--gray-900);
    display: flex;
    position: relative;
}

.double-form {

    .right {
        transition: all 1s ease-out;
        position: absolute;
        right: 0;
        width: 50% !important;
        height: 100%;
        z-index: 1;
    }

    .left {
        transition: all 1s ease-out;
        position: absolute;
        left: 0;
        width: 50% !important;
        height: 100%;
        z-index: 2;
    }
}

.reversed .left {
    transform: translateX(100%);
}

.reversed .right {
    transform: translateX(-100%);
}