.input {
    all: unset;
    color: var(--white);
    box-sizing: border-box;
    font-size: 1.7rem;
    background-color: var(--gray-700);
    width: 100%;
    padding: 1.3rem;
    border-radius: var(--b-radius);
    border: .1px solid var(--gray-600);
    color: var(--white);
    transition: all .2s;
}

.input:focus {
    border: unset;
    color: var(--cinza-500);
}

.input::placeholder {
    color: var(--gray-500);
}