.list-header,
.list-row {
    padding: 2rem;
    gap: 1rem;
}

.list-row {
    border-radius: var(--b-radius);
    background-color: var(--gray-700);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-row__title {
    font-size: 1.8rem;
    font-weight: 600;
}

.list-row__subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray-500);
}

.list-header {
    background-color: var(--main-500);
    border-radius: var(--b-radius);
    display: flex;
}

.list-cell {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.list-row img,
.list-row svg,
.list-cell img,
.list-cell svg {
    width: 2rem !important;
    cursor: pointer;
}