.vertical-align {
    display: flex;
    flex-direction: column;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
}

.center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.gap1 {
    gap: 1rem;
}

.gap2 {
    gap: 2rem;
}

.gap4 {
    gap: 4rem;
}

.gap6 {
    gap: 6rem;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p4 {
    padding: 4rem;
}

.p6 {
    padding: 6rem;
}

.m1 {
    margin: 1rem;
}

.m2 {
    margin: 2rem;
}

.m4 {
    margin: 4rem;
}

.m6 {
    margin: 6rem;
}

.mb-auto {
    margin-bottom: auto;
}

.pointer {
    cursor: pointer;
}

.w5rem {
    width: 5rem;
}

.w83 {
    width: 83%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.m0auto {
    margin: 0 auto;
}

.bg-gray-1000 {
    background: var(--gray-1000);
}

.bg-gray-900 {
    background: var(--gray-900);
}

.bg-gray-850 {
    background: var(--gray-850);
}

.bg-gray-800 {
    background: var(--gray-800);
}

.bg-gray-700 {
    background: var(--gray-700);
}

.bg-gray-600 {
    background: var(--gray-600);
}

.bg-gray-500 {
    background: var(--gray-500);
}

.bg-gray-300 {
    background: var(--gray-300);
}

.bg-gray-200 {
    background: var(--gray-200);
}

.bg-gray-100 {
    background: var(--gray-100);
}

.bg-gradient {
    background: var(--bg-gradient) !important;
}

.bg-gradient-2 {
    background: var(--bg-gradient-2);
}

.bg-main-500 {
    background: var(--main-500);
}

.bg-main-800 {
    background: var(--main-800);
}

.bg-red-1000 {
    background: var(--red-1000);
}

.bg-red-900 {
    background: var(--red-900);
}

.bg-red-800 {
    background: var(--red-800);
}

.bg-green-1000 {
    background: var(--green-1000);
}

.bg-yellow-1000 {
    background: var(--yellow-1000);
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.6rem;
}

.text-3xl {
    font-size: 1.9rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-5xl {
    font-size: 3rem;
}

.text-6xl {
    font-size: 3.75rem;
}

.text-7xl {
    font-size: 4.5rem;
}

.text-8xl {
    font-size: 6rem;
}

.text-9xl {
    font-size: 8rem;
}

.text-gray-1000 {
    color: var(--gray-1000);
}

.text-gray-900 {
    color: var(--gray-900);
}

.text-gray-850 {
    color: var(--gray-850);
}

.text-gray-800 {
    color: var(--gray-800);
}

.text-gray-700 {
    color: var(--gray-700);
}

.text-gray-600 {
    color: var(--gray-600);
}

.text-gray-500 {
    color: var(--gray-500);
}

.text-gray-300 {
    color: var(--gray-300);
}

.text-gray-200 {
    color: var(--gray-200);
}

.text-gray-100 {
    color: var(--gray-100);
}

.text-white {
    color: var(--white) !important;
}

.text-main-500 {
    color: var(--main-500);
}

.text-main-800 {
    color: var(--main-800);
}

.text-red-1000 {
    color: var(--red-1000);
}

.text-red-900 {
    color: var(--red-900);
}

.text-red-800 {
    color: var(--red-800);
}

.text-green-1000 {
    color: var(--green-1000);
}

.text-yellow-1000 {
    color: var(--yellow-1000);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.br {
    border-radius: var(--b-radius);
}

.br-circle {
    border-radius: 50%;
}

.min-w-100vw {
    min-width: 100vw;
}

.min-h-100vh {
    min-height: 100vh;
}

.span-message {
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: .5rem;
    font-size: 1.6rem;
    transition: all .2s;
    color: var(--gray-500);
}

.span-message.error {
    color: var(--red-800);
}

.span-message.success {
    color: var(--green-1000);
}

.link {
    text-decoration: none;
    color: var(--main-800);
    font-size: 2rem;
}

.animated-gradient {
    background: linear-gradient(90deg, var(--gray-700), var(--gray-900));
    background-size: 200% 200%;
    animation: gradientMove 2s ease infinite alternate;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.page-title {
    font-weight: 600;
    font-size: 2.7rem;
    color: var(--white);
    line-height: 1.02;
}

.page-subtitle {
    font-size: 1.9rem;
    color: var(--gray-500);
    font-weight: 500;
}

.po-r {
    position: relative;
}

.fontw-100 {
    font-weight: 100;
}

.fontw-300 {
    font-weight: 300;
}

.fontw-400 {
    font-weight: 400;
}

.fontw-500 {
    font-weight: 500;
}

.fontw-600 {
    font-weight: 600;
}

.fontw-700 {
    font-weight: 700;
}

.fontw-900 {
    font-weight: 900;
}

.p4-0 {
    padding: 4rem 0;
}

.ai-end {
    align-items: end;
}

.fx-wrap {
    flex-wrap: wrap
}

.react-joyride__tooltip {
    background-color: var(--gray-800) !important;
    color: var(--white) !important;
    width: 500px !important;
    border-radius: var(--b-radius) !important;
    padding: 4rem !important;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
}


.react-joyride__tooltip p {
    color: var(--white);
    font-size: 2rem;
}

.__floater__arrow polygon {
    fill: var(--gray-800) !important;
}

.react-joyride__spotlight {
    border-radius: var(--b-radius) !important;
}

.flex-wrap {
    flex-wrap: wrap;
}