.verify-email .input {
    height: 3rem;
    width: 3rem;
    box-sizing: content-box;
}

.verify-email-button {
    position: absolute;
    width: fit-content !important;
    left: 3rem;
    bottom: 3rem;
}